.parent {
    display: flex;
    justify-content: center;  /* Center horizontally */
    align-items: center;      /* Center vertically */
    /*height: 100vh;            /* Full viewport height */
    padding: 10px;            /* Prevents content from touching screen edges */
}

.child {
    width: 90%;               /* Default width */
    /*max-width: 600px;         /* Limits max width for larger screens */
    background-color: #f5f5f5;;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ebebeb;
}

/* Adjust width for smaller screens */
@media (max-width: 768px) {
    .child {
        width: 95%;           /* Slightly wider on smaller screens */
        padding: 15px;
    }
}